In [34]:
import pandas as pd

df = pd.DataFrame({'slice_number':[0,0,0,0],'amplitudes':[1.83333,1.91667,1.68,1.91667],
                   'max_peaks_positions':[19,98,175,254],'max_peaks_intensities':[68,70,67,70],
                  'times_to_peaks':[10,12,8,10],'times_to_half_peaks':[5,7,3,5],'tau_s':[63.3066,63.3279,64.5084,60.9873 ]})

df1 = pd.DataFrame({'slice_number':[0,0,0,0,0],'min_peaks_positions':[9,86,167,244,282],'min_peaks_intensities':[24,24,25,24,44]})

In [21]:
df1

   slice_number  min_peaks_positions  min_peaks_intensities
0             0                    9                     24
1             0                   86                     24
2             0                  167                     25
3             0                  244                     24
4             0                  282                     44

In [22]:
df

,slice_number,amplitudes,max_peaks_positions,max_peaks_intensities,times_to_peaks,times_to_half_peaks,tau_s
0,0,1.83333,19,68,10,5,63.3066
1,0,1.91667,98,70,12,7,63.3279
2,0,1.68000,175,67,8,3,64.5084
3,0,1.91667,254,70,10,5,60.9873

In [39]:
df = df.join(df1, how='outer', lsuffix='', rsuffix='_', sort=False)

In [43]:
df = df.astype({"amplitudes":"float", 
        "max_peaks_positions":"float",
        "max_peaks_intensities":"float",
        "times_to_peaks": "float", 
        "times_to_half_peaks": "float",
        "tau_s": "float",
        "slice_number_":"int",
        "min_peaks_positions":"float",
        "min_peaks_intensities":"float"})

In [44]:
df

,slice_number,amplitudes,max_peaks_positions,max_peaks_intensities,times_to_peaks,times_to_half_peaks,tau_s,slice_number_,min_peaks_positions,min_peaks_intensities
0,0.0,1.83333,19.0,68.0,10.0,5.0,63.3066,0,9.0,24.0
1,0.0,1.91667,98.0,70.0,12.0,7.0,63.3279,0,86.0,24.0
2,0.0,1.68000,175.0,67.0,8.0,3.0,64.5084,0,167.0,25.0
3,0.0,1.91667,254.0,70.0,10.0,5.0,60.9873,0,244.0,24.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,282.0,44.0