In [219]:
import pandas as pd

df = pd.DataFrame({'slice_number':[0,0,0,0,'Nan',1,1,1,1],'amplitudes':[1.83333,1.91667,1.68,1.91667,'Nan',1.83333,1.91667,1.68,1.91667],
                   'max_peaks_positions':[19,98,175,254,'Nan',19,98,175,254],'max_peaks_intensities':[68,70,67,70,'Nan',68,70,67,70],
                  'times_to_peaks':[10,12,8,10,'Nan',10,12,8,10],'times_to_half_peaks':[5,7,3,5,'Nan',5,7,3,5],'tau_s':[63.3066,63.3279,64.5084,60.9873,'Nan',63.3066,63.3279,64.5084,60.9873]})

df1 = pd.DataFrame({'slice_number':[0,0,0,0,0,1,1,1,1,1],'min_peaks_positions':[9,86,167,244,282,9,86,167,244,282],'min_peaks_intensities':[24,24,25,24,44,24,24,25,24,44]})

In [220]:
df

,slice_number,amplitudes,max_peaks_positions,max_peaks_intensities,times_to_peaks,times_to_half_peaks,tau_s
0,0,1.83333,19,68,10,5,63.3066
1,0,1.91667,98,70,12,7,63.3279
2,0,1.68,175,67,8,3,64.5084
3,0,1.91667,254,70,10,5,60.9873
4,Nan,Nan,Nan,Nan,Nan,Nan,Nan
5,1,1.83333,19,68,10,5,63.3066
6,1,1.91667,98,70,12,7,63.3279
7,1,1.68,175,67,8,3,64.5084
8,1,1.91667,254,70,10,5,60.9873

In [229]:
len(df1[df1['slice_number']==0])

5

In [225]:
# df = df.join(df1,on='slice_number', how='left', lsuffix='', rsuffix='_', sort=True)
df3 = df1.merge(df, how='outer', left_on=None, right_on=None, left_index=True, right_index=True, sort=True, suffixes=('_', ''))
del df3['slice_number']
df3 = df3.rename(columns={'slice_number_':'slice_number'})

In [226]:
df3 = df3.astype({"amplitudes":"float", 
        "max_peaks_positions":"float",
        "max_peaks_intensities":"float",
        "times_to_peaks": "float", 
        "times_to_half_peaks": "float",
        "tau_s": "float",
        "min_peaks_positions":"float",
        "min_peaks_intensities":"float"})

In [227]:
df3.drop_duplicates()

,slice_number,min_peaks_positions,min_peaks_intensities,amplitudes,max_peaks_positions,max_peaks_intensities,times_to_peaks,times_to_half_peaks,tau_s
0,0,9.0,24.0,1.83333,19.0,68.0,10.0,5.0,63.3066
1,0,86.0,24.0,1.91667,98.0,70.0,12.0,7.0,63.3279
2,0,167.0,25.0,1.68000,175.0,67.0,8.0,3.0,64.5084
3,0,244.0,24.0,1.91667,254.0,70.0,10.0,5.0,60.9873
4,0,282.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN
5,1,9.0,24.0,1.83333,19.0,68.0,10.0,5.0,63.3066
6,1,86.0,24.0,1.91667,98.0,70.0,12.0,7.0,63.3279
7,1,167.0,25.0,1.68000,175.0,67.0,8.0,3.0,64.5084
8,1,244.0,24.0,1.91667,254.0,70.0,10.0,5.0,60.9873
9,1,282.0,44.0,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:

# Create DataFrames
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
              }
index_labels=['r1','r2','r3','r4']
df3 = pd.DataFrame(technologies,index=index_labels)

technologies2 = {
    'Courses':["Spark","Java","Python","Go"],
    'Discount':[2000,2300,1200,2000]
              }
index_labels2=['r1','r6','r3','r5']
df4 = pd.DataFrame(technologies2,index=index_labels2)

print(df3)
print(df4)

    Courses    Fee Duration
r1    Spark  20000   30days
r2  PySpark  25000   40days
r3   Python  22000   35days
r4   pandas  30000   50days
   Courses  Discount
r1   Spark      2000
r6    Java      2300
r3  Python      1200
r5      Go      2000

In [190]:

# pandas join two DataFrames
df5=df3.join(df4, lsuffix="_left", rsuffix="_right", how='outer')
print(df5)

   Courses_left      Fee Duration Courses_right  Discount
r1        Spark  20000.0   30days         Spark    2000.0
r2      PySpark  25000.0   40days           NaN       NaN
r3       Python  22000.0   35days        Python    1200.0
r4       pandas  30000.0   50days           NaN       NaN
r5          NaN      NaN      NaN            Go    2000.0
r6          NaN      NaN      NaN          Java    2300.0